.topic {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.display-question {
    margin-top: 70px;
}
.ex-im {
    text-align: right;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Màu nền đục */
}

/* CSS cho Nội dung Popup */
.popup-content {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.my-active span {
    color: pink !important;
}

ul.pager > li {
    display: inline-flex;
    padding: 5px;
}

th{
    text-align: center;
}